demo/flow_convert.json
[{"id":"7abfda8c.0edacc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"124fb5a4.fb1eaa","type":"rbe","z":"7abfda8c.0edacc","name":"damp acc z","func":"deadband","gap":"3277","start":"","inout":"out","property":"payload.acceleration.z","x":470,"y":300,"wires":[["7b2e173d.f1029"]]},{"id":"83b92954.8ba5d8","type":"debug","z":"7abfda8c.0edacc","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":300,"wires":[]},{"id":"471ef27c.159b94","type":"get data","z":"7abfda8c.0edacc","acceleration":"0","rotation":"0","name":"","x":300,"y":300,"wires":[["124fb5a4.fb1eaa"]]},{"id":"7b2e173d.f1029","type":"convert data","z":"7abfda8c.0edacc","acceleration":"0","rotation":"1","name":"","x":650,"y":300,"wires":[["83b92954.8ba5d8"]]}]
